@import url("style.css");

.post {
    display: flex;
    gap: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 4px #0003;
    max-width: 1000px;
    margin-top: 50px;
  }
  
  
    .post-number {
      font-weight: 600;
      font-size: 3rem;
      width: 50px;
    }
  
    .post-right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
      .post-date-time {
        color: #777;
        font-size: 0.7rem;
      }
  
      .post-title {
        font-size: 1.8rem;
        font-weight: 600;
      }
  
      .post-content {
        line-height: 1.9;
      }
  