* {
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

html {
  overflow-x: hidden;
}

:root {
  font-size: 16px;
}

body {
  font-size: 1rem;
  background-color: white;
  color: black;
  margin-top: 110px;
}

/* ================================================================= */



.logo-div {
   	white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
}

.svg-logo {
  fill: black;
}

.txt-logo {
  font-weight: 200;
  font-size: 3.6rem;
  display: inline-block;
  position: relative;
  right: 0px; bottom: 0px;
}


header {
  background-color: white;
  position: fixed;
  left: 0; right: 0; top: 0;
  box-shadow: 0 0 7px 4px #0003;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: black;
  text-decoration: none;
}

.contents {
  display: flex;
  justify-content: center;
}

.middle-content {
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
